p {
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  position: relative;
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.result {
  color: white;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}

.operation {
  position: absolute;
  color: white;
  font-size: 20px;
  align-self: flex-end;
}

.next {
  color: white;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}

button {
  height: 100px;
  font-size: 24px;
  border: 1px solid lightgray;
}